html{
    background-color: #555;
}
body{
    background-color: #EEE;
}

header h1{
    background-color: #FDFDFD;
    color: #e02d2d;
    border-color: #AAA;
}
header h1:hover{
    background-color: #FFF;
    color: #F04444;
}
header h1:active{
    background-color: #EEE;
    border-color: #EEE;
}
#fork-me-btn .ribbon{
    background-color: #FAA;
}
#fork-me-btn:hover .ribbon{
    background-color: #FAA;
}
#fork-me-btn:active .ribbon{

}


footer{
    background-color: #777;
}