html{
    background-color: #87886E;
}
body{
    background-color: #faffd3;
    color:#421212;
}

header h1{
    background-color: #FCEE7C;
    color: #683D0E;
    border-color: #ede075;
}
header h1:hover{
    background-color: #fff17d;
    color: #7e4a11;
}
header h1:active{
    background-color: #7c770e;
    border-color: #706b0d;
    color: #FF3;
}
#fork-me-btn .ribbon{
    background-color: #C06F24;
}
#fork-me-btn:hover .ribbon{
    background-color: #C06F24;
}
#fork-me-btn:active .ribbon{

}

#copy-right{
    color: #4F503F;
}
footer{
    color: #B7B9A4;
    background-color: #33331F;
}
footer a, footer li {
    color: #AFAF04;
}

nav a{
    background-color: #8D843F;
    color:#FDF9F0;
}
nav a:hover{
    background-color: #beb255;
}

canvas.demo
{
    margin: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    border: 1px solid #EEE;
    background: #FDFDF0;
}

fieldset{

    background-color: #F5F5DF;
}
dl{

}
dt{
    padding: 5px 25px 0;
    font-size: 1.5em;
    font-weight: bold;
}
dd{
    margin: 5px 0 40px 20px;
}
table{
    border-collapse: collapse;
    border:1px solid #DBCEAD;
    margin: 5px;
}
tr{
    background-color: #D6C39B;
}
tr:nth-child(even){
    background-color: #ECE0C5;
}
th, td{
    padding:7px 12px;
}
th{
    border-right: 1px solid #F5F5DF;
    text-align: right;
}
th.label.field:before{
    content: 'field';
    font-style: italic;
    font-size: 0.75em;
    margin: 3px;
    background-color: #B8440E;
    padding: 1px 3px;
    border-radius: 3px;
    color: #EBDFD0;
    font-weight: normal;
}
