html{
    background-color: #87886E;
}
body{
    background-color: #faffd3;
}

header h1{
    background-color: #FCEE7C;
    color: #683D0E;
    border-color: #ede075;
}
header h1:hover{
    background-color: #fff17d;
    color: #7e4a11;
}
header h1:active{
    background-color: #7c770e;
    border-color: #706b0d;
    color: #FF3;
}
#fork-me-btn .ribbon{
    background-color: #C06F24;
}
#fork-me-btn:hover .ribbon{
    background-color: #C06F24;
}
#fork-me-btn:active .ribbon{

}

#copy-right{
    color: #4F503F;
}
footer{
    color: #B7B9A4;
    background-color: #33331F;
}
footer a, footer li {
    color: #AFAF04;
}